:root {
    font-size: 16px;
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0;
    max-width: 100vw;
    background-color: lightblue;
}

body {
    width: 80%;
    font-size: 1.5rem;
}

a,
a:visited {
    text-decoration: None;
    color: black;
}

nav {
    display: flex;
}

div.hero_text {
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: auto;
}

ul.nav_items {
    margin: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
}

li.nav_item {
    list-style-type: none;
    width: fit-content;
    margin: 0 5px;
}
