package pages

import (
	"github.com/techiemohitjangra/portfolio/view/component"
)

templ BlogsPage() {
	@component.Base("Blogs", []component.Link{cssLink}, []component.Script{}) {
		<div class="root">
			@component.Header() {
				@component.Nav()
			}
			<p>BLOGS PAGE</p>
			@component.Footer()
		</div>
	}
}
