package pages

import (
	component "github.com/techiemohitjangra/portfolio/view/component"
)

templ BlogPage() {
	@component.Base("Blog", []component.Link{cssLink}, []component.Script{}) {
		<div class="root">
			@component.Header() {
				@component.Nav()
			}
			<p>BLOG PAGE</p>
			@component.Footer()
		</div>
	}
}
