package pages

import (
	component "github.com/techiemohitjangra/portfolio/view/component"
	model "github.com/techiemohitjangra/portfolio/model"
)

templ BlogsPage(blogs []model.BlogItem) {
	@component.Base("Blogs", []component.Link{GlobalCSS, BlogsCSS}, []component.Script{TailwindCSS}) {
		<div class="root">
			@component.Header() {
				@component.Nav()
			}
			<p>BLOGS PAGE</p>
			@component.Footer()
		</div>
	}
}
