package pages

import (
"github.com/techiemohitjangra/portfolio/view/component"
)

templ BlogsPage() {
<!DOCTYPE html>
<html lang="en">
@component.Head("Blogs")

<body>
    <div>
        @component.Nav()
        <p>BLOGS PAGE</p>
        @component.Footer()
    </div>
</body>

</html>
}
