package pages;

import (
	component "github.com/techiemohitjangra/portfolio/view/component"
)

templ HomePage() {
	@component.Base("Home", []component.Link{GlobalCSS, HomeCSS}, []component.Script{TailwindCSS}) {
		<div>
			@component.Header() {
				@component.Nav()
			}
			<p>HOME PAGE</p>
			@component.Footer()
		</div>
	}
}
