package pages;

import (
"github.com/techiemohitjangra/portfolio/view/component"
)

templ HomePage() {
@component.Base("Home", []component.Link{cssLink}, []component.Script{}) {
<div>
    @component.Header() {
    @component.Nav()
    }
    <p>HOME PAGE</p>
    @component.Footer()
</div>
}
}
