package pages

import (
	component "github.com/techiemohitjangra/portfolio/view/component"
	model "github.com/techiemohitjangra/portfolio/model"
)

templ ProjectPage(project *model.Project) {
	@component.Base(project.Title, []component.Link{GlobalCSS, ProjectCSS}, []component.Script{TailwindCSS}) {
		<div>
			@component.Header() {
				@component.Nav()
			}
			<p class="project_title">{ project.Title }</p>
			@component.Footer()
		</div>
	}
}
