package pages;

import (
	component "github.com/techiemohitjangra/portfolio/view/component"
	model "github.com/techiemohitjangra/portfolio/model"
)

templ ProjectsPage(projects []model.ProjectItem) {
	@component.Base("Projects", []component.Link{GlobalCSS, ProjectsCSS}, []component.Script{TailwindCSS}) {
		<div>
			@component.Header() {
				@component.Nav()
			}
			<p>PROJECTS PAGE</p>
			@component.Footer()
		</div>
	}
}
