package pages;

import (
"github.com/techiemohitjangra/portfolio/view/component"
)

templ ProjectPage() {
<!DOCTYPE html>
<html lang="en">
@component.Head("Project")

<body>
    <div>
        @component.Nav()
        <p>PROJECT PAGE</p>
        @component.Footer()
    </div>
</body>

</html>
}
