package pages;

import (
	component "github.com/techiemohitjangra/portfolio/view/component"
)

templ ResumePage() {
	@component.Base("Resume", []component.Link{GlobalCSS, ResumeCSS}, []component.Script{TailwindCSS}) {
		<div>
			@component.Header() {
				@component.Nav()
			}
			<p>RESUME PAGE</p>
			@component.Footer()
		</div>
	}
}
