package pages;

import (
	"github.com/techiemohitjangra/portfolio/view/component"
)

templ ResumePage() {
	@component.Base("Resume", []component.Link{cssLink}, []component.Script{}) {
		<div>
			@component.Header() {
				@component.Nav()
			}
			<p>RESUME PAGE</p>
			@component.Footer()
		</div>
	}
}
